@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

/* Navbar Section */
.navbar {
  height: 150px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
}

.logo p {
  font-family: 'Charm', cursive;
  font-weight: bold;
  color: white;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  font-family: 'Charm', cursive;
}

.navbar ul li{
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 500;
}

.active {
  border: 2px solid #C4C4C4;
  border-radius: 5px;
  padding: 5px;
}

.username {
  color: white;
  border: 1px solid #C4C4C4;
  padding: 10px;
}

.login-btn {
  border: none;
  padding: 10px;
  background-color: #C4C4C4;
  border-radius: 5px;
}

.login-btn a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Charm', cursive;
}

.login-btn a:visited {
  color: black;
  text-decoration: none;
}

.login-btn:hover {
  background-color: white;
}

.login-btn:hover a {
  color: black;
  font-weight: bold;
}

/* Intro Section */
.intro {
  height: 100vh;
}

.left-section {
  margin-top: -150px;
}

.left-section img {
  position: absolute;
  height: 110vh;
  width: 80vh;
  z-index: -1;
}

.right-section {
  color: white;
  float: right;
  margin-top: 400px;
  margin-right: 400px;
}

.right-section h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.right-section h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.right-section p {
  line-height: 1.3;
}

.grey-txt {
  color: #8E8C8D;
  font-weight: bold;
}

.squares {
  margin-left: 28px;
}

.small-sq {
  width: 30px;
  height: 30px;
  border: 2px solid #8E8C8D;
  margin-left: 30px;
}

.big-sq {
  width: 50px;
  height: 50px;
  border: 2px solid #8E8C8D;
  margin-top: -15px;
}

.square-txt {
  margin-top: -30px;
  font-family: 'Charm', cursive;
  font-size: 20px;
}

/* Pitch Categories Section */
.pitches-section {
  height: 55vh;
  background-color: #C4C4C4;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header hr {
  width: 15px;
  margin: 15px;
  margin-top: 70px;
  height: 3px;
  border: none;
  background: #1D160B;
}

.section-header h2{
  color: #1D160B;
  font-family: 'Charm', cursive;
  font-size: 25px;
  letter-spacing: 1.0px;
  font-weight: bold;
  margin-top: 70px;
}

.pitches-section p {
  text-align: center;
  font-size: 20px;
}

.container {
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.col-md-3 {
  position: relative;
  text-align: center;
}

.col-md-3 img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  opacity: 0.7;
}

.pickup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border: 1px solid white;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.pickup-hover a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  font-weight: bold;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Charm', cursive;
  cursor: pointer;
}

.interview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border: 1px solid white;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.interview-hover a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  font-weight: bold;
  background-color: white;
  color: black;
  font-size: 22px;
  font-family: 'Charm', cursive;
  text-decoration: none;
  cursor: pointer;
}

.promotion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border: 1px solid white;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.promotion-hover a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  font-weight: bold;
  background-color: black;
  color: white;
  font-size: 22px;
  font-family: 'Charm', cursive;
  text-decoration: none;
  cursor: pointer;
}

/* Food For Thought Section */
.food-for-thought {
  height: 45vh;
  background-color: white;
}

.info-section {
  width: 100vh;
  height: 180px;
  background-color: #C4C4C4;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30px;
  border-radius: 5px;
}

.info-section p {
  padding-top: 30px;
  font-size: 20px;
}

.white-txt {
  color: white;
}

/* Footer Section */
.footer {
  height: 130px;
  background-color: black;
}

.fa {
  margin-top: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 30px;
  color: white;
  cursor: pointer;
}

.fa:hover {
    color: #8E8C8D;
    text-decoration: none;
}

.social {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.footer hr{
  height: 2px;
  width: 15%;
  margin-left: 42%;
  color: white;
}

.footer p {
  color: white;
  text-align: center;
  font-size: 18px;
}

/* Pickup Lines Page Styles */

/* Intro Section */
.nav-img {
  height: 400px;
}

.nav-img h2 {
  text-align: center;
  color: white;
  font-weight: bold;
}

.nav-img hr {
  height: 1px;
  width: 180px;
  background-color: white;
  margin-top: -10px;
}

.nav-img img {
  position: absolute;
  width: 187vh;
  height: 400px;
  z-index: -1;
  margin-top: -210px;
}

.nav-img .section-header {
  margin-top: 200px;
}

.nav-img .section-header .horizontal {
  margin-top: 70px;
  width: 15px;
}

/* All Pickup Lines Section */
.all-pickup-lines {
  height: 100%;
  background-color: black;
  margin-bottom: 70px;
}

.all-pickup-lines .container {
  max-width: 75% !important;
  margin-top: -20px;
}

.all-pickup-lines .col-md-3 {
  height: 100%;
  background-color: #C4C4C4;
  text-align: center;
  padding: 0px 20px;
  border-radius: 0px 70px 10px 10px;
  color: black;
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 50px;
}

.all-pickup-lines .col-md-3 .p-line {
  margin-top: 70px;
}

.all-pickup-lines .col-md-3 hr {
  width: 80px;
  height: 2px;
  background-color: black;
}

.votes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-top: -20px;
}

.upvote, .downvote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.upvote p, .downvote p {
  margin-left: 20px;
  margin-top: 10px;
}

.upvote .fa, .downvote .fa {
  color: black;
  margin-right: 10px;
}

.comment-btn p {
  width: 341px;
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  margin-bottom: 0px;
  margin-left: -19px;
  border-radius: 0px 0px 10px 10px;
  font-weight: bold;
}

.comment-btn p a {
  color: black;
  text-decoration: none;
}

.comment-btn p a:visited {
  color: black;
  text-decoration: none;
}

.default {
  color: white;
}

/* New Pickup Line Section */
.form-section {
  height: 600px;
  background-color: white;
}

.form-section .container {
  background-color: #C4C4C4;
  max-width: 45% !important;
  height: 330px;
  border-radius: 5px;
}

.form-section .container p {
  padding-top: 50px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

.form {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
}

/* Comments Page Styles */

/* Add Comments Section */
.all-pickup-lines .left {
  height: 100%;
  background-color: #C4C4C4;
  text-align: center;
  padding: 0px 20px;
  border-radius: 0px 70px 10px 10px;
  color: black;
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 50px;
}

.all-pickup-lines .col-md-5 {
  background-color: #C4C4C4;
  padding-bottom: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.all-pickup-lines .col-md-5 p {
  padding-top: 50px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

.all-pickup-lines .col-md-5 .form {
  width: 400px;
  font-weight: 500;
}

/* View Comments Section */
.comments-section {
  height: 100%;
  background-color: white;
  margin-bottom: 0px;
}

.all-comments {
  height: 100%;
}

.all-comments .container {
  max-width: 75% !important;
}

.all-comments .col-md-5 {
  background-color: #C4C4C4;
  height: 200px;
  margin-bottom: 50px;
  padding: 0px;
  border-radius: 5px;
}

.all-comments .col-md-5 h5 {
  color: white;
  background-color: black;
  padding: 20px;
}

.all-comments .col-md-5 p {
  margin-left: 20px;
  margin-top: 20px;
}

.all-comments .col-md-5 hr {
  height: 1px;
  background-color: black;
  margin-top: 40px;
}

.all-comments .col-md-5 h6 {
  margin-left: 20px;
}

.comments-default {
  color: black;
  font-weight: bold;
}