{% extends 'base.html' %}

{% block content %}

  <!-- INTRO SECTION -->
  <div class="intro">
    <div class="left-section">
      <img src="../static/images/h-background.jpg" alt="Background Image">
    </div>

    <div class="right-section">
      <h2>Struggling To Find the <span class="grey-txt">RIGHT</span> <br> <span class="grey-txt">WORDS</span> To <span class="grey-txt">IMPRESS</span> Someone?</h2>
      <h4>60 Seconds Can Make or Break You!</h4>
      <p>At <strong>Mic Drop</strong>, we help you practice how to  use that  minute wiesly <br> and make it count! </p>

      <div class="squares">
        <div class="small-sq"></div>
        <div class="big-sq"></div>
      </div>
      
      <p class="square-txt">Let's Dive In!</p>
    </div>
  </div>
  
  <!-- Pitch Categories Section -->
  <div class="pitches-section">
    <div class="section-header">
      <hr class="horizontal">
      <h2>PITCH CATEGORIES</h2>
      <hr class="horizontal">
    </div>

    <p>Check out pitches from other users, vote on them and leave a comment <br> to help them improve on their pitches</p>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="../static/images/category-image-2.jpg">
          <div class="pickup">
            <p>PICKUP LINES</p>
          </div>
          <div class="pickup-hover">
            <p><a href="{{ url_for('pickup') }}">PICKUP LINES</a></p>
          </div>
        </div>

        <div class="col-md-3">
          <img src="../static/images/category-image-1.jpg">
          <div class="interview">
            <p>INTERVIEW PITCHES</p>
          </div>
          <div class="interview-hover">
            <p>INTERVIEW PITCHES</p>
          </div>
        </div>

        <div class="col-md-3">
          <img src="../static/images/category-image-3.jpg">
          <div class="promotion">
            <p>PROMOTION PITCHES</p>
          </div>
          <div class="promotion-hover">
            <p>PROMOTION PITCHES</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Food For Thought Section -->
  <div class="food-for-thought">
    <div class="section-header">
      <hr class="horizontal">
      <h2>FOOD FOR THOUGHT</h2>
      <hr class="horizontal">
    </div>

    <div class="info-section">
      <p>A <strong>good</strong> first impression can help one forge <strong>long-term</strong> relationships</p>
      <h2><strong>HOWEVER, CONSIDER YOUR <span class="white-txt">LAST</span> IMPRESSION AS <br> <span class="white-txt">IMPORTANT</span> AS THE <span class="white-txt">FIRST</span> IMPRESSION</strong></h2>
    </div>
  </div>

{% endblock %}