{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
  <!-- Intro Section -->
  <div class="nav-img">
    <h2>INTERVIEW PITCHES</h2>
    <hr>
    <img src="../static/images/category-image-1.jpg">

    <div class="section-header">
      <hr class="horizontal">
      <h2>All Interview Pitches</h2>
      <hr class="horizontal">
    </div>
  </div>

  <!-- All Interview Pitches Section -->
  <div class="all-pickup-lines">
    <div class="container">
      <div class="row">
        {% if interview_pitches %}
          {% for interview_pitch in interview_pitches %}
            <div class="col-md-3">
              <p class="p-line">{{interview_pitch.interview}}</p>
              <hr>
              <h4>{{interview_pitch.user.username}}</h4>
              <p>Date: <strong>{{interview_pitch.postedDate.strftime('%Y/%m/%d')}}</strong></p>
              <div class="votes">
                <div class="upvote">
                  <a href="{{url_for('main.interview_upvotes',id = interview_pitch.id)}}"><i class="fa fa-thumbs-up" id="like" aria-hidden="true"></i></a>
                  <p>{{interview_pitch.interviewlikes.count()}}</p>
                </div>
                <div class="downvote">
                  <a href="{{url_for('main.interview_downvotes',id = interview_pitch.id)}}"><i class="fa fa-thumbs-down" id="dislike" aria-hidden="true"></i></a>
                  <p>{{interview_pitch.interviewdislikes.count()}}</p>
                </div>
              </div>
              <div class="comment-btn">
                <p><a href="{{url_for('main.interviewComments',interview_pitch_id = interview_pitch.id)}}">ADD COMMENT</a></p>
              </div>
            </div>
          {% endfor %}

        {% else %}
          <h3 class="default">There are No Interview Pitches Yet</h3>

        {% endif %}
      </div>
    </div>
  </div>

   <!-- New Interview Pitch Section -->
   <div class="form-section">
    <div class="section-header">
      <hr class="horizontal">
      <h2>New Interview Pitch</h2>
      <hr class="horizontal">
    </div>

    <div class="container">
      <p>FILL IN THE FORM BELOW</p>

      <div class="form">
        {{ wtf.quick_form(interview_form) }}
      </div>
      
    </div>

   </div>
{% endblock %}