<!-- Navbar section -->
<header class="navbar">
  <div class="logo">
    <img src="../static/images/logo.png" alt="Logo" />
    <p>MIC DROP</p>
  </div>

  <ul>
    <li><a class="active" href="{{ url_for('main.index') }}">Home</a></li>
    <li><a href="{{ url_for('main.pickup') }}">Pickup Lines</a></li>
    <li><a href="{{ url_for('main.interview') }}">Interview Pitch</a></li>
    <li><a href="{{ url_for('main.promotion') }}">Promotion Pitch</a></li>
  </ul>

  {% if current_user.is_authenticated %}
    <h5 class="username">HELLO {{current_user.username}}</h5>
    <button class="login-btn"><a href="{{ url_for('auth.logout') }}">LOGOUT</a></button>
  {% else %}
    <button class="login-btn"><a href="{{ url_for('auth.login') }}">LOGIN</a></button>
  {% endif %}

</header>