{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
  <!-- Intro Section -->
  <div class="nav-img">
    <h2>PICKUP LINES</h2>
    <hr>
    <img src="../static/images/category-image-8.jpg">

    <div class="section-header">
      <hr class="horizontal">
      <h2>All Pickup Lines</h2>
      <hr class="horizontal">
    </div>
  </div>

  <!-- All Pickup Lines Section -->
  <div class="all-pickup-lines">
    <div class="container">
      <div class="row">
        {% if pickup_lines %}
          {% for line in pickup_lines %}
            <div class="col-md-3">
              <p class="p-line">{{line.pickupLine}}</p>
              <hr>
              <h4>{{line.user.usernames}}</h4>
              <p>Date: <strong>{{line.postedDate.strftime('%Y/%m/%d')}}</strong></p>
              <div class="votes">
                <div class="upvote">
                  <i class="fa fa-thumbs-up" id="like" aria-hidden="true"></i>
                  <p class="like-num">0</p>
                </div>
                <div class="downvote">
                  <i class="fa fa-thumbs-down" id="dislike" aria-hidden="true"></i>
                  <p class="dislike-num">0</p>
                </div>
              </div>
              <div class="comment-btn">
                <p><a href="{{url_for('main.comments',pline_post_id = line.id)}}">ADD COMMENT</a></p>
              </div>
            </div>
          {% endfor %}

        {% else %}
          <h3 class="default">There are No Pickup Lines Yet</h3>

        {% endif %}
      </div>
    </div>
  </div>

   <!-- New Pickup Line Section -->
   <div class="form-section">
    <div class="section-header">
      <hr class="horizontal">
      <h2>New Pickup Line</h2>
      <hr class="horizontal">
    </div>

    <div class="container">
      <p>FILL IN THE FORM BELOW</p>

      <div class="form">
        {{ wtf.quick_form(pickup_line_form) }}
      </div>
      
    </div>
   </div>
{% endblock %}