{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
  <!-- Intro Section -->
  <div class="nav-img">
    <h2>COMMENTS SECTION</h2>
    <hr>
    <img src="../static/images/category-image-8.jpg">

    <div class="section-header">
      <hr class="horizontal">
      <h2>Add Comments</h2>
      <hr class="horizontal">
    </div>
  </div>

  <!-- Add Comments Section -->
  <div class="all-pickup-lines">
    <div class="container">
      <div class="row">
        <div class="col-md-3 left">
          <p class="p-line">{{pline}}</p>
          <hr>
          <h4>{{pline_author}}</h4>
          <p>Date: <strong>{{pline_postedDate.strftime('%Y/%m/%d')}}</strong></p>
          <div class="votes">
            <div class="upvote">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              <p>{{pline_likes}}</p>
            </div>
            <div class="downvote">
              <i class="fa fa-thumbs-down" aria-hidden="true"></i>
              <p>{{pline_dislikes}}</p>
            </div>
          </div>
        </div>
      
        <!-- Comment Form Section -->
        <div class="col-md-5">
          <p>ADD A COMMENT BELOW</p>
    
          <div class="form">
            {{ wtf.quick_form(comments_form) }}
          </div>
        </div>

      </div>
    </div>
  </div>

   <!-- All Comments Section -->
  <div class="comments-section">
    <div class="section-header">
      <hr class="horizontal">
      <h2>All Comments</h2>
      <hr class="horizontal">
    </div>

    <div class="all-comments">
      <div class="container">
        <div class="row">
          {% if all_comments %}
            {% for com in all_comments %}
              <div class="col-md-5">
                <h5>Comment From: {{com.user.username}}</h5>
                <p><strong>Comment:</strong> {{com.comment}}</p>  
                <hr>
                <h6><strong>Published Date:</strong> {{com.postedDate.strftime('%Y/%m/%d')}}</h6>
              </div>
            {% endfor %}

          {% else %}

            <h3 class="comments-default">There are No Comments Yet</h3>
    
          {% endif %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}